<h1 class="text-center mt-4 mb-4 text-primary">Solvitec</h1>
<div class="p-3 mb-2 bg-warning bg-gradient">
  <ul class="nav justify-content-center text-dark">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="/home">Inicio</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/archivos">Archivos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/cita">Citas</a>
    </li>
    <li class="nav-item dropdown">
      <a
        class="nav-link dropdown-toggle"
        id="navbarDropdown"
        role="button"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        Perfil
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="/perfil">Perfil</a>

        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="/logout">Cerrar sesión</a>
      </div>
    </li>
  </ul>
</div>

<h2> Citas Aceptadas </h2>
{{#each citas}}
  <div class="col-md-3">
    <div class="card" id="cita-{{this.id}}">
      <div class="card-body">
        <h5 class="card-title">{{this.datos.nombre}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">Fecha:
          {{this.datos.fecha}}</h6>
        <p class="card-text">Motivo: {{this.datos.motivo}}</p>
        <p class="card-text">Descripción: {{this.datos.descripcion}}</p>

        <div class="text-end">
          <button
            type="button"
            class="btn btn-primary atenderCitaBtn"
          >Atender</button>
          <button
            type="button"
            class="btn btn-secondary noPresenteBtn"
            data-id="{{this.id}}"
          >No se presentó</button>
        </div>

        <!-- Formulario oculto para atender cita -->
        <div class="formularioAtencion" style="display: none;">
          <form>
            <div class="form-group">
              <label for="fechaAtencion-{{this.id}}">Fecha de Atención</label>
              <input
                type="date"
                class="form-control"
                id="fechaAtencion-{{this.id}}"
                name="fechaAtencion"
              />
            </div>
            <div class="form-group">
              <label for="proximaFechaRevision-{{this.id}}">Próxima Fecha de
                Revisión</label>
              <input
                type="date"
                class="form-control"
                id="proximaFechaRevision-{{this.id}}"
                name="proximaFechaRevision"
              />
            </div>
            <div class="form-group">
              <label for="motivo-{{this.id}}">Motivo</label>
              <input
                type="text"
                class="form-control"
                id="motivo-{{this.id}}"
                name="motivo"
              />
            </div>
            <div class="form-group">
              <label for="sobre-{{this.id}}">Sobre</label>
              <textarea
                class="form-control"
                id="sobre-{{this.id}}"
                name="sobre"
              ></textarea>
            </div>
            <button type="submit" class="btn btn-success">Guardar</button>
            <button
              type="button"
              class="btn btn-warning cancelarAtencionBtn"
            >Cancelar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
{{/each}}