<h1 class="text-center mt-4 mb-4 text-primary">Solvitec</h1>
<div class="p-3 mb-2 bg-warning bg-gradient">
  <ul class="nav justify-content-center text-dark">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="/home">Inicio</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/archivos">Archivos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/cita">Citas</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/registro_medico">Registro Medico</a>
    </li>
    <li class="nav-item dropdown">
      <a
        class="nav-link dropdown-toggle"
        id="navbarDropdown"
        role="button"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        Perfil
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="/perfil">Perfil</a>

        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="/logout">Cerrar sesión</a>
      </div>
    </li>
  </ul>
</div>

<h2> Citas Aceptadas </h2>
{{#if citas.length}}
  {{#each citas}}
    <div class="col-md-3">
      <div class="card" id="cita-{{this.id}}">
        <div class="card-body">
          <h5 class="card-title">{{this.datos.nombre}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">Fecha:
            {{this.datos.fecha}}</h6>
          <p class="card-text">Motivo: {{this.datos.motivo}}</p>
          <p class="card-text">Descripción: {{this.datos.descripcion}}</p>

          <div class="text-end">
            <button
              type="button"
              class="btn btn-primary atenderCitaBtn"
              onclick="window.location.href='/presentar_mascota/{{this.datos.id_usuario}}/{{this.id}}';"
            >Atender</button>
            <button
              type="button"
              class="btn btn-secondary noPresenteBtn"
              data-id="{{this.id}}"
            >No se presentó</button>
          </div>

        </div>
      </div>
    </div>
  {{/each}}
{{else}}
  <div class="alert alert-info" role="alert">
    No existen citas aceptadas todavía.
  </div>
{{/if}}