<div id="logo-section" class="text-center mt-1 mb-4">
    <img src="images/img1.jpg" alt="Logo" id="logo-image">
  </div>

  <div id="navbar-section" class="custom-navbar">
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a class="nav-link active text-dark" aria-current="page" href="/home">
          <i class='bx bx-home-smile'></i>
          Inicio
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark" href="/archivos">
          <i class='bx bx-folder-plus'></i>
          Archivos
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark" href="/cita">
          <i class='bx bxs-calendar-plus'></i>
          Citas
        </a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class='bx bx-user'></i>
          Perfil
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/perfil">Perfil</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/logout">Cerrar sesión</a>
        </div>
      </li>
    </ul>
  </div>






<div class="user mt-4 mb-4 mx-4">
  <div class="row">
    {{#each citas}}
      <div class="col-md-3">
        <div class="card" id="cita-{{this.id}}">
          <div class="card-body">
            <h5 class="card-title">{{this.datos.nombre}}</h5>
            
              <h6 class="card-subtitle mb-2 text-muted">Mascota:
              {{this.datos.mascota}}</h6>
            <p class="card-text">Motivo: {{this.datos.motivo}}</p>
            <h6 class="card-subtitle mb-2 text-muted">Fecha:
              {{this.datos.fecha}}</h6>
            <div class="text-end buttons">
              <button
                type="button"
                class="btn btn-success"
              >Aceptar</button>
              <button
                type="button"
                class="btn btn-danger"
              >Rechazar</button>
            </div>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</div>

<footer class="d-flex justify-content-center align-items-center py-3 my-4 border-top bg-gradient text-dark fixed-bottom">
  <div class="col-md-4 text-center">
    <span class="mb-3 mb-md-0">© 2024 CLINICA SOLVITEC</span>
  </div>
</footer>






