<h1 class="text-center mt-4 mb-4 text-primary">Solvitec</h1>

<div class="p-3 mb-2 bg-info text-dark"><ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="/home">Inicio</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/archivos">Archivos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/cita">Citas</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/registro_medico">Registro Medico</a>
    </li>
  </ul>
</div>

<div class="container">
  <div class="text-center mb-4 d-flex justify-content-center">
    <div class="me-2">
      <a href="/new_mascota/{{contacto.cedula}}/{{id}}" class="btn btn-primary">Agregar mascota</a>
    </div>
    <div>
      <a href="/archivos" class="btn btn-secondary">Regresar</a>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-md-4 mb-4">
      <div class="card">
        <div class="card-body">
          <p><strong>Cedula:</strong> {{contacto.cedula}}</p>
          <p><strong>Nombre:</strong> {{contacto.nombre}}</p>
          <p><strong>Correo:</strong> {{contacto.correo}}</p>
          <p><strong>Telefono:</strong> {{contacto.telefono}}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    {{#each mascotas}}
      <div class="col-md-4 mb-4">
        <div class="card" style="width: 18rem;">
          <img
            src="{{datos.photo}}"
            class="card-img-top"
            alt="{{datos.nombre}}"
          />
          <div class="card-body">
            <h5 class="card-title">{{datos.nombre}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{datos.raza}}
              -
              {{datos.categoria}}</h6>
            <p class="card-text">
              Edad:
              {{datos.edad}}
              años<br />
              Peso:
              {{datos.peso}}<br />
              Altura:
              {{datos.altura}}<br />
              Sexo:
              {{datos.sexo}}<br />
              Dueño:
              {{datos.dueño}}
            </p>
            <a href="/editar?mascota_id={{id}}{{#if ../cita_id}}&cita_id={{../cita_id}}{{/if}}{{#if ../id}}&persona_id={{../id}}{{/if}}" class="card-link">Atender</a>
          </div>

          <button class="btn btn-primary toggle-records" data-id="{{id}}">Registros Médicos</button>

          <div id="registro-medico-{{id}}" class="registro-medico" style="display: none;">
            {{#each datos.registro_medico}}
              <div class="registro border p-3 mb-3">
                <p><strong>Sobre:</strong> {{this.datos.sobre}}</p>
                <p><strong>Motivo:</strong> {{this.datos.motivo}}</p>
                <p><strong>Fecha de Revisión:</strong> {{this.datos.fechaRevision}}</p>
                <p><strong>Próxima Visita:</strong> {{this.datos.proximaVisita}}</p>
              </div>
            {{/each}}
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</div>
<script>
  document.addEventListener('DOMContentLoaded', (event) => {
    document.querySelectorAll('.toggle-records').forEach(button => {
      button.addEventListener('click', function() {
        let mascotaId = this.getAttribute('data-id');
        let registroMedicoDiv = document.getElementById(`registro-medico-${mascotaId}`);
        if (registroMedicoDiv.style.display === "none") {
          registroMedicoDiv.style.display = "block";
          this.textContent = "Ocultar Registros Médicos";
        } else {
          registroMedicoDiv.style.display = "none";
          this.textContent = "Mostrar Registros Médicos";
        }
      });
    });
  });
</script>
