


<h1 class="text-center mt-4 mb-4 text-primary">Solvitec</h1>

  <div class="p-3 mb-2 bg-info text-dark"><ul class="nav justify-content-center ">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="/home">Inicio</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/archivos">Archivos</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/cita">Citas</a>
  </li>

</ul></div>
<div class="text-center mb-4 d-flex justify-content-center">
    <div class="me-2">
       
            <a href="/new_mascota/{{this.id}}" class="card-link">Agreagar mascota</a>
    </div>
    <div>
         <a href="/archivos" class="card-link">Regresar</a>
    </div>
</div>
<div class="user mx-4 ">
    <div class="row">

        <div class="col-md-3 mb-4 ">
            <div class="card">
                <div class="card">
                    <p><strong>Cedula:</strong> {{contacto.datos.cedula}}</p>
                    <p><strong>Nombre:</strong> {{contacto.datos.nombre}}</p>
                    <p><strong>Correo:</strong> {{contacto.datos.correo}}</p>
                    <p><strong>Telefono:</strong> {{contacto.datos.telefono}}</p>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="card col-md-3 mb-4 mx-4 mt-4" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        <a href="/editar" class="card-link">Actualizar</a>
    </div>
</div>
</div>