<div id="logo-section" class="text-center mt-1 mb-4">
    <img src="images/img1.jpg" alt="Logo" id="logo-image">
  </div>

  <div id="navbar-section" class="custom-navbar">
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a class="nav-link active text-dark" aria-current="page" href="/home">
          <i class='bx bx-home-smile'></i>
          Inicio
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark" href="/archivos">
          <i class='bx bx-folder-plus'></i>
          Archivos
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark" href="/cita">
          <i class='bx bxs-calendar-plus'></i>
          Citas
        </a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class='bx bx-user'></i>
          Perfil
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/perfil">Perfil</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/logout">Cerrar sesión</a>
        </div>
      </li>
    </ul>
  </div>



<div class="container">
  <div class="text-center mb-4 d-flex justify-content-center">
    <div class="me-2">
      <a href="/new_mascota/{{contacto.cedula}}/{{id}}" class="btn btn-primary">Agregar mascota</a>
    </div>
    <div>
      <a href="/archivos" class="btn btn-secondary">Regresar</a>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-md-4 mb-4">
      <div class="card">
        <div class="card-body">
          <p><strong>Cedula:</strong> {{contacto.cedula}}</p>
          <p><strong>Nombre:</strong> {{contacto.nombre}}</p>
          <p><strong>Correo:</strong> {{contacto.correo}}</p>
          <p><strong>Telefono:</strong> {{contacto.telefono}}</p>
        </div>
      </div>
    </div>
  </div>
<div class="row">
  {{#each mascotas}}
    <div class="col-md-4 mb-4">
      <div class="card" style="width: 18rem;">
       
       <div class="card-body">
  <h5 class="card-title">{{datos.nombre}}</h5>
  <h6 class="card-subtitle mb-2 text-muted">{{datos.raza}} - {{datos.categoria}}</h6>
  <p class="card-text">
    Edad: {{datos.edad}} años<br />
    Peso: {{datos.peso}}<br />
    Altura: {{datos.altura}}<br />
    Sexo: {{datos.sexo}}<br />
    Dueño: {{datos.dueño}}
  </p>
  <a href="/editar?mascota_id={{id}}{{#if ../cita_id}}&cita_id={{../cita_id}}{{/if}}{{#if ../id}}&persona_id={{../id}}{{/if}}" class="btn btn-primary">Atender</a>
</div>




        <!-- Botón para abrir el modal -->
        <button class="btn btn-primary toggle-records" data-toggle="modal" data-target="#registro-medico-modal-{{id}}">
          Registros Médicos
        </button>

        <!-- Modal -->
        <div class="modal fade" id="registro-medico-modal-{{id}}" tabindex="-1" role="dialog" aria-labelledby="registro-medico-modal-label-{{id}}" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="registro-medico-modal-label-{{id}}">Registros Médicos de {{datos.nombre}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                {{#each datos.registro_medico}}
                  <div class="registro border p-3 mb-3">
                    <p><strong>Sobre:</strong> {{this.datos.sobre}}</p>
                    <p><strong>Motivo:</strong> {{this.datos.motivo}}</p>
                    <p><strong>Fecha de Revisión:</strong> {{this.datos.fechaRevision}}</p>
                    <p><strong>Próxima Visita:</strong> {{this.datos.proximaVisita}}</p>
                  </div>
                {{/each}}
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  {{/each}}
</div>




<script>
  document.addEventListener('DOMContentLoaded', (event) => {
    document.querySelectorAll('.toggle-records').forEach(button => {
      button.addEventListener('click', function() {
        let mascotaId = this.getAttribute('data-id');
        let registroMedicoDiv = document.getElementById(`registro-medico-${mascotaId}`);
        if (registroMedicoDiv.style.display === "none") {
          registroMedicoDiv.style.display = "block";
          this.textContent = "Ocultar Registros Médicos";
        } else {
          registroMedicoDiv.style.display = "none";
          this.textContent = "Mostrar Registros Médicos";
        }
      });
    });
  });
</script>

